name: Deploy HTML to s3
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout code from repo
       uses: actions/checkout@v4
     - name: Configure AWS credentials
       uses: aws-actions/configure-aws-credentials@v4
       with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: us-east-1
     - name: Static code to s3
       run: |
         aws s3 sync ./ s3://gha-static-website-demo-8988/ \
         --exclude "*" \
         -- include "index.html"

      
